.label {
  color: var(--grey-0, #f8f9fa);
  font-family: "Inter";
  font-size: 0.6108rem;
  font-weight: 400;
}

.paragraph {
  color: var(--grey-1);
  font-family: "Inter";
  font-size: 0.6108rem;
  font-weight: 400;
}
